.notice {
    font-size: 0.9rem;
    color: white;
    background-color: rgb(48, 48, 48);
    padding: 0.5rem 1rem;
    text-align: center;
}

.notice a{
    color: white;
    text-decoration: underline;
}

.notice a:hover {
    color: white;
    text-decoration: underline;
}

.home-page-container {
    min-height: 100vh;
}

.home-page-navbar {
    background-color: white!important;
    padding: 1.5rem;
}

.navbar-title {
    font-weight: 100;
    font-size: 1.5rem;
}

.search-section {
    background-image: url('../../assets/images/virus.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.search-overlay {
    color: white;
    padding: 5rem;
}

.search-overlay h1 {
    font-size: 2.5rem;
    font-weight: 100;
}

.overlay-input {
    width: 30rem;
    max-width: 100%;
}

.overlay-content h3 {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    font-size: 1.7rem;
    font-weight: 100;
}

.home-empty-div {
    height: 1rem;
}

.overlay-dropdown {
    padding: 1rem 0 1rem 0;
}

.overlay-dropdown a {
    color: white;
}

.overlay-dropdown a:hover {
    color: white;
    text-decoration: underline;
}

.learn-more-grid {
    padding: 4rem 0!important;
    margin: 0!important;
}

.paper-button {
    font-weight: 100!important;
}

.no-padding-margin {
    padding: 0!important;
    margin: 0!important;
}

.grid-column {
    padding: 3rem 2rem!important;
}

.intro-icons {
    font-size: 7rem!important;
    padding: 1rem;
    background-color: rgb(240, 240, 240);
    color: rgb(150, 150, 150);
    border-radius: 50%;
}

.tutorial-section {
    background-color: rgb(247, 247, 247);
    padding: 5rem 0;
}

.FAQ-section {
    text-align: center;
    padding: 3rem 0 3rem 0;
}

.QA {
    margin-bottom: 1rem;
}

.QA-accordian {
    width: 100%!important;
    text-align: left;
}

.question {
    border-left: solid 3px black;
    padding: 1rem 2rem!important;
    text-align: left;
    background-color: rgb(247, 247, 247);
    font-weight: bold;
}

.answer {
    border-left: solid 3px rgb(230, 230, 230);
    padding: 1rem 2rem!important;
    text-align: left;
    background-color: rgb(255, 255, 255);
    color: grey;
}

.QA a {
    color: black;
    text-decoration: underline;
}

.QA a:hover {
    color: black;
    text-decoration: underline;
}

.FAQ-section-row {
    padding: 1rem 0!important;
    margin: 0!important;
}

.section-header {
    padding: 2rem 0 2rem 0;
}

.team-member-section {
    background-color: rgb(44, 42, 45);
    padding: 5rem 0;
    color: white;
}

.team-member-section-header {
    padding: 0!important;
    margin: 0!important;
}

.horizontal-center {
    margin: 0 auto!important;
}

@media(max-width: 990px) {
    .horizontal-center {
        margin-bottom: 1rem!important;
    }

    .grid-column {
        text-align: center!important;
    }

    .learn-more-grid {
        padding: 1rem 0!important;
    }

    .tutorial-section {
        padding: 1rem 0!important;
    }
}

@media (max-width: 767px) {
    .search-overlay {
        padding: 4rem 2rem;
    }

    .overlay-content {
        text-align: center;
    }

    .overlay-content h3 {
        font-size: 1.5rem;
    }

    .overlay-content h1 {
        font-size: 2rem;
    }
}