.home-page-container {
    min-height: 100vh;
}

.home-page-navbar {
    background-color: white!important;
    padding: 1.5rem;
}

.navbar-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.search-section {
    background-image: url('../../assets/images/virus.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.search-overlay {
    padding: 5rem;
    color: white;
}

.search-overlay h1 {
    font-size: 2.5rem;
}

.overlay-input {
    width: 30rem;
    max-width: 100%;
}

.intro-icons {
    font-size: 7rem!important;
    padding: 1rem;
    background-color: rgb(240, 240, 240);
    color: rgb(150, 150, 150);
    border-radius: 50%;
}

.home-footer {
    padding: 3rem 5rem;
    background-color: rgb(44, 42, 45);
    border-top: solid 1px white;
    text-align: center;
    color: white;
}

.home-footer a {
    color: white;
}

.home-footer a:hover {
    color: white;
    text-decoration: underline;
}