.author-label {
  margin-bottom: 0.2rem!important;
  color: black!important;
}

.article-body-container {
  min-height: 100vh;
  padding: 3rem 6rem!important;
}

.article-body-container h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.abstract-container {
  padding: 1.2rem;
  background-color: rgb(240, 240, 240);
  width: -webkit-calc(100% - 100px);
  width:    -moz-calc(100% - 100px);
  width:         calc(100% - 25rem);
}

.abstract-container h4 {
  font-size: 2rem;
  font-weight: 400;
}

.abstract-container p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8rem;
}

.body-container {
  padding-top: 2rem;
}

.body-container p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8rem;
}

.word-segment-container {
  /* background-color: red; */
  width: 25rem;
  float: right;
}

.word-segment {
  width: 24rem;
  margin: 0!important;
  float: right;
}

.word-segment-header {
  background-color: rgb(247, 247, 247)!important;
  font-weight: 800!important;
  font-size: 1.1rem!important;
}

.word-segment-list {
  overflow-y:scroll; 
  position:relative;
  height: 300px;
}

.pattern-segment {
  width: 24rem;
  margin: 0!important;
  float: right;
  margin-top: 2rem!important;
  margin-bottom: 2rem!important;
}