.article-container {
  margin: 0 0 5rem 0!important;
  padding: 6rem 0 0 0!important;
}

.article-footer-container {
  margin: 0!important;
  padding: 0!important;
}

.article-footer-container {
  margin: 0 0 0 0!important;
  padding: 0!important;
}

.article-container-row {
  margin: 0 0 1.5rem 0!important;
  width: 100%;
}

.article-footer-row {
  margin: 0!important;
  width: 100%;
}

.article-container-column {
  padding: 0!important;
  margin: 0!important;
}

.title-text {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
}

.article-content-column {
  margin: 0!important;
  padding: 0 2rem 0 0!important;
}

.meta-info {
  margin-top: 1.5rem;
}

.article-body-container {
  min-height: 100vh;
  padding: 3rem 6rem!important;
}

.article-body-container h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.abstract-container {
  padding: 1.2rem;
  background-color: rgb(240, 240, 240);
}

.abstract-container h4 {
  font-size: 2rem;
  font-weight: 400;
}

.abstract-container p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8rem;
}

.body-container {
  padding-top: 2rem;
}

.body-container p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8rem;
}

.word-segment-header {
  background-color: rgb(247, 247, 247)!important;
  font-weight: 800!important;
  font-size: 1.1rem!important;
}

.word-segment-list {
  overflow-y:scroll; 
  height: 280px;
}

.footer-column {
  padding: 0!important;
  margin: 0!important;
}

@media (max-width: 990px) {
  .article-content-column {
    padding: 0!important;
  }

  .article-container {
    padding: 2rem!important;
  }

  .article-container-row {
    margin: 0 0 1rem 0!important;
  }
}

@media (max-width: 767px) {
  .title-text {
    font-size: 1.7rem;
  }

  .article-container-row {
    margin: 0!important;
  }

  .article-container {
    padding: 1rem!important;
  }
}