html, body {
    font-family: 'Merriweather', serif;
}

.article-grid {
    margin-top: 1.5rem!important;
    width: 1500px!important;
}

.type-button {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.article-left-segment {
    overflow-x: hidden!important;
    width: 25rem!important;
}

.article-left-segment::-webkit-scrollbar { 
    display: none; }

.article-body-wrapper {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.loading-screen {
    padding: 0!important;
    margin: 0!important;
    height: 100vh;
}