.main-navbar {
    background-color: white!important;
    transition: 0.2s;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 0;
}

.searchbar-title {
    font-size: 2.2rem!important;
}

.searchbar-title a {
    font-weight: 100!important;
}

.searchbar-grid {
    width: 100%!important;
    margin: 0!important;
}

.searchbar-grid-column {
    padding-left: 0!important;
}

.logo-column {
    padding: 0!important;
    margin: 0!important;
}

.auto-complete-result {
    font-size: 0.9rem;
}

.no-padding {
    padding: 0!important;
}

@media (max-width: 990px) {
    .searchbar-grid-column {
        padding-left: 1rem!important;
    }

    .searchbar-grid-column{
        padding-top: 0!important;
        padding-bottom: 0!important;
    }

    .main-navbar {
        position: static;
    }
}