.chemical-color {
    background-color: #F44336!important;
}

.organism-color {
    background-color: #3399ff!important;
}

.structure-color {
    background-color: #009688!important;
}

.physiologic-color {
    background-color: #8E24AA!important;
}

.pathologic-color {
    background-color: #F3D250!important;
}

.gene-color {
    background-color: #374785!important;
}

.disease-color {
    background-color: #f7941d!important;
}

.list-item {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

.list-header {
    font-size: 2rem!important;
}

.result-list-pagination {
    margin-left: 0!important;
}

.page-note {
    color: gray;
    font-size: 0.85rem;
}

.resultlist-container {
    padding-top: 2rem;
    width: 100%!important;
}

.search-meta-info {
    width: 100%;
    margin: 3rem 0 0 0!important;
    padding: 0!important;
}

.search-meta-info-row {
    width: 100%!important;
    padding-top: 0!important;
    margin: 0!important;
}

.result-list-row {
    margin: 0!important;
    padding: 0!important;
}

.resultlist-grid {
    width: 100%!important;
}

.search-meta-container {
    color: grey;
    padding-left: 0!important;
}

.resultlist-word-segment-container {
    width: 25rem;
}
  
.resultlist-word-segment {
    width: 24rem;
    max-width: 100%;
    margin: 0!important;
}
  
.resultlist-word-segment-header {
    background-color: rgb(247, 247, 247)!important;
    font-weight: 800!important;
    font-size: 1.1rem!important;
}
  
.resultlist-word-segment-list {
    overflow-y:scroll; 
    position:relative;
    height: 20vw;
    max-height: 300px;
}

.segment-list {
    padding: 0!important;
}

.search-meta-info-column {
    padding: 0!important;
    margin: 0!important;
}

.wordlist-column {
    padding-right: 0!important;
}

.word-list-open-button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: rgb(65, 131, 196)!important;
    color: white!important;
}

.floating-resultlist-word-segment {
    position: fixed!important;
    width: 300px;
    max-width: calc(100% - 1rem);
    bottom: calc(5% + 5rem);
    right: 1rem;
}

.floating-resultlist-word-segment-list {
    height: 300px;
    overflow-y: scroll; 
    position: relative;
}

.search-loading-screen {
    margin: 0!important;
    padding: 0!important;
    position: fixed!important;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.search-grid-container {
    padding-top: 4rem;
}

.search-grid {
    border-bottom: solid 1.2px rgb(239, 239, 239);
    margin: 0!important;
}

.search-grid-row {
    padding: 0!important;
    margin: 0!important;
}

.menu-column {
    padding: 0!important;
}

.search-menu {
    padding: 0!important;
    border: 0!important;
}

.resultlist-footer-container {
    margin: 2rem 0 0 0!important;
    padding: 0!important;
    background-color: rgb(245, 245, 245);
}

.resultlist-footer-row {
    margin: 0!important;
}

@media (min-width: 1920px) {
    .wordlist-column {
        padding-left: 5rem!important;
    }

    .search-menu {
        padding-right: 1rem!important;
    }
}

@media (min-width: 991px) {
    .pagination-container {
        padding-left: 0!important;
    }
}

@media (max-width: 990px) {
    .search-meta-info {
        margin: 1rem 0 0 0!important;
    }

    .search-meta-info-row {
        margin: 0!important;
        padding: 0!important;
    }

    .search-meta-container {
        padding: 0!important;
    }

    .segment-list {
        padding: 0!important;
    }

    .resultlist-container {
        padding-top: 1rem!important;
    }

    .search-meta-info-column {
        padding-left: 1rem!important;
    }

    .wordlist-column {
        padding-right: 1rem!important;
    }

    .search-grid-container {
        padding-top: 0;
    }

    .search-menu {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
}

@media (max-width: 767px) {
    .search-menu {
        padding-left: 0!important;
    }

    .search-meta-info-column {
        padding-left: 0!important;
    }
}