.result-header {
    padding-bottom: 1rem!important;
    font-size: 1.1rem!important;
    color: black!important;
    text-decoration: underline!important;
}

.result-header:hover {
    text-decoration: underline;
}

.search-segment {
    border: 0!important;
    font-size: 1rem!important;
    padding: 0rem!important;
}

.context-label {
    padding: 1.2px!important;
    border-radius: 0!important;
    border: solid 0.7px!important;
}

.metadata-section {
    margin-top: 0.5rem!important;
}

.metadata-label {
    margin-bottom: 5px!important;
}

.invisible-label {
    display: none!important;
}

.author-section {
    margin-left: 1rem;
}

.small-title {
    color: green;
}

@media (max-width: 992px) {
    .search-segment {
        padding: 1.5rem!important;
        margin: 0.5rem!important;
    }

    .result-header {
        font-size: 1rem!important;
    }

    .small-title {
        margin-top: 1rem!important;
    }
}