.search-grid-container {
    padding-top: 4rem;
}

.search-grid {
    border-bottom: solid 1.2px rgb(239, 239, 239);
    margin: 0!important;
}

.search-grid-row {
    padding: 0!important;
    margin: 0!important;
}

.menu-column {
    padding: 0!important;
}

.search-menu {
    padding: 0!important;
    border: 0!important;
}

@media (min-width: 1920px) {
    .search-menu {
        padding-right: 1rem!important;
    }
}

@media (max-width: 990px) {
    .search-grid-container {
        padding-top: 0;
    }

    .search-menu {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
}

@media (max-width: 767) {
    .search-menu {
        padding-left: 0!important;
    }
}