.footer-container {
    font-size: 0.9rem;
    padding: 1rem 0 1rem 0;
    color: black;
}

.footer-container a {
    color: black;
}

.footer-container a:hover {
    text-decoration: underline;
    transition: all 0.5s;
}

@media (max-width: 990px) {
    .footer-container {
        padding: 1.5rem;
        width: 100vw;
        text-align: center;
    }
}