.table-container {
  max-width: 26rem;
  width: 100%;
}

.table-container tbody {
  display: block;
  height: 300px;
  overflow: auto;
}

.table-container thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-container tr {
  cursor: pointer;
}

.column-header {
  background-color: rgb(247, 247, 247);
}