.result-list-pagination {
    margin-left: 0!important;
}

.search-meta-info {
    width: 100%;
    margin: 2rem 0 2rem 0!important;
    padding: 0!important;
}

.search-meta-info-row {
    width: 100%!important;
    padding-top: 0!important;
    margin: 0!important;
}

.search-meta-container {
    color: grey;
    padding-left: 0!important;
}
  
.resultlist-word-segment-list {
    overflow-y: auto; 
    position:relative;
    max-height: 300px;
    background-color: white;
    padding: 0;
}

.resultlist-word-segment-header {
    background-color: white;
    padding: 1.5rem 1rem;
    border-top: 1.4px solid rgb(33, 133, 208);
}

.resultlist-word-segment-vis {
    background-color: rgb(247, 247, 247);
    padding: 1.5rem;
    height: 300px;
}

.segment-list {
    padding: 0!important;
}

.search-meta-info-column {
    padding: 0!important;
    margin: 0!important;
}

.wordlist-column {
    padding-right: 0!important;
}

.search-loading-screen {
    margin: 0!important;
    padding: 0!important;
    position: fixed!important;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.search-grid-container {
    padding-top: 4rem;
}

.search-grid {
    border-bottom: solid 1.2px rgb(239, 239, 239);
    margin: 0!important;
}

.search-grid-row {
    padding: 0!important;
    margin: 0!important;
}

.menu-column {
    padding: 0!important;
}

.search-menu {
    padding: 0!important;
    border: 0!important;
}

.resultlist-footer-container {
    margin: 0!important;
    padding: 0!important;
}

.resultlist-footer-row {
    margin: 0!important;
}

.word-container {
    max-width: 26rem;
    width: 100%;
    border: solid 1px rgb(230, 230, 230);
}

@media (min-width: 1920px) {
    .wordlist-column {
        padding-left: 5rem!important;
    }

    .search-menu {
        padding-right: 1rem!important;
    }
}

@media (min-width: 991px) {
    .pagination-container {
        padding-left: 0!important;
    }
}

@media (max-width: 990px) {
    .word-container {
        margin: 0 auto;
    }

    .search-meta-info {
        margin: 1rem 0 0 0!important;
    }

    .search-meta-info-row {
        margin: 0!important;
        padding: 0!important;
    }

    .search-meta-container {
        padding: 0!important;
    }

    .segment-list {
        padding: 0!important;
    }

    .search-meta-info-column {
        padding-left: 1rem!important;
    }

    .search-grid-container {
        padding-top: 0;
    }

    .search-menu {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    .wordlist-column {
        padding: 1rem!important;
    }
}

@media (max-width: 767px) {
    .search-menu {
        padding-left: 0!important;
    }

    .search-meta-info-column {
        padding-left: 0!important;
    }

    .pagination-container {
        margin-bottom: 1rem;
    }
}